  <% flash.each do |key, message| %>
  <div class="flash-message alert alert-<%= key %>">
    <span class="flash-message-text"><%= message %></span>
    <button type="button" class="flash-message-close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
<nav class="d-flex justify-content-center align-items-center bg-white flex-wrap">
  <div class="col-md-6 col-sm-12">
    <%= image_tag "logo.png", class: "img-fluid w-25 my-2 mx-auto d-block" %>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="text-center text-uppercase bottom-text" > Don't have an account? <%= link_to "Sign up", "/signup",  class: "text-decoration-none" %> </div>
  </div>
</nav>
<div class="mx-auto container card bg-white h-75 mt-10 block">
  <div class="card-body">
    <h2 class="text-center pt-4 bold">Sign In</h2>
    <p class="text-center text-sm text-muted">Sign In to continue to your account.</p>
    <%= form_with model: @user, url: "/signin" do |form| %>
      <div class="form-group my-3">
        <%= form.label :email, class: "required" %>
        <%= form.text_field :email, class: "form-control", placeholder: "Enter Your Email" %>
      </div>
      <div class="form-group my-3">
        <%= form.label :password, class: "required" %>
        <%= form.password_field :password,
                              class: "form-control",
                              placeholder: "Enter Your Password" %>
      </div>
      <div class="d-flex justify-content-center my-5">
        <%= form.submit "NEXT", style: "width: 100%; height: 50px; border:none; border-radius: 5px; background-color: #5384AE; color: #FFFFFF;" %>
      </div>
    <% end %>
  </div>
</div>
<div class="d-flex flex-row my-5 justify-content-center align-items-center text-muted mx-auto block">
  <hr class="w-100 mx-2 line"/>
  <span class="text-center text-sm mx-2">Or</span>
  <hr class="w-100 mx-2 line"/>
</div>
<div class=" justify-content-center align-items-center text-muted mx-auto block">
  <%= form_tag "/auth/google_oauth2" , method: :post do %>
    <button class="btn d-flex flex-row justify-content-center align-items-center mx-auto shadow-sm border google-btn">
      <%= image_tag "google.png", class: "img-fluid my-2 mx-auto d-block", style: "width: 30px; height: 30px;" %>
      <span class="text-center text-sm px-5 text-muted">Sign in with Google</span>
    </button>
  <% end %>
</div>
