<div  class="mx-1 mb-2 panel" id="currentIteration" data-panel="current" style="width:100%">
  <div class="card h-full" style="background-color: #f1f2f4;">
    <div  class="card-header d-flex flex-row justify-content-between align-items-center">
      <h2>Current Iteration</h2>
      <div class="d-flex flex-row justify-content-between align-items-center">
        <div class="accordion text-dark" id="accordionExample">
          <div>
            <div id="headingOne<%= @current_item_submit %>">
              <button class="collapsed btn text-white submit-button" style="background-color: #256188" data-submit-id="<%= @current_item_submit %>"
          type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne<%= @current_item_submit %>" aria-expanded="true" aria-controls="collapseOne<%= @current_item_submit %>">  <i class="fa-solid fa-plus mx-2"></i> Add Feature </button>
            </div>
          </div>
        </div>
        <i class="fa fa-solid fa-xmark fa-lg mx-3" id="currentIteration-close" style="cursor: pointer;"></i>
      </div>
    </div>
    <div class="card-body" id="<%= @current_item_submit %>-details-list">
      <p> Stories you are currently working on and stories you're prioratized to work on next.</p>
      <div id="collapseOne<%= @current_item_submit %>" class="accordion-collapse collapse bg-light" aria-labelledby="headingOne<%= @current_item_submit %>" data-bs-parent="#accordionExample2">
        <%= render "details/form" , submit_id: @current_item_submit, type: "currentIteration" %>
      </div>
      <% @current.each do |backlog_item| %>
        <div  type="button" class="mt-2" data-toggle="collapse" data-target="#collapseExample<%= backlog_item.id %>" aria-expanded="false" aria-controls="collapseExample<%= backlog_item.id %>">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"><%= backlog_item.title %></h4>
              <p class="card-text"><%= backlog_item.description %></p>
            </div>
          </div>
        </div>
        <div class="collapse mb-3" id="collapseExample<%= backlog_item.id %>">
          <%= render "partials/detail", item: backlog_item %>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
