<%= render 'partials/outernav' %>
<%= link_to 'Go Back', :back, class: 'btn mybtn-success m-3' %>
<h3 class="fw-bold text-center">User Profile</h3>
<div class="container card my-5 py-2 d-flex flex-row justify-content-around align-items-center flex-wrap">
  <div class="profile-container">
    <%= @user.username[0].upcase %>
  </div>
  <div class="my-5">
    <p><strong class="mx-2">Name:</strong> <%= @user.name %></p>
    <p><strong class="mx-2">Username:</strong> <%= @user.username %></p>
    <p><strong class="mx-2">Email:</strong> <%= @user.email %></p>
    <p><strong class="mx-2">Password:</strong>XXXXXXXXXXX</p>
    <% if @user.id == current_user.id %>
      <%= link_to edit_user_path(current_user.id) do %>
        <div class="btn edit-btn my-2"><i class="fa-regular mx-2 fa-pen-to-square"></i>Edit Profile</div>
      <% end %>
    <% end %>
  </div>
</div>
</div>
