<%= javascript_pack_tag 'project' %>
<%= render 'partials/outernav' %>
<nav class="d-flex justify-content-around align-items-center bg-white flex-wrap p-3">
  <div class="text-center sub-heading">Project <span id='project-id'></span> </div>
</nav>
<div id="flash-container" class="my-2"></div>
<%= render 'partials/backbutton' %>
<div class="container">
  <h5> Add User to Project </h5>
  <%= form_tag(update_user_ids_projects_path, method: :post, id: "add-user-project", remote: true) do %>
    <%= hidden_field_tag :project_id, nil, id: 'project-id-field' %>
    <select name="user_id[]" id="multiple" multiple class="search-select">
      <% if @users %>
        <% @users.each do |user| %>
          <option value="<%= user.id %>"><%= user.email %></option>
        <% end %>
      <% end %>
    </select>
    <div class="d-flex justify-content-center m-5">
      <%= button_tag 'Add User to Project', type: 'submit', class: 'btn mybtn-success', 'data-turbolinks': 'false' %>
    </div>
  <% end %>
  <h5 class="fw-bold"> Users present In this Project </h5>
  <div class="user-container">
    <% if @project_users %>
      <% @project_users.each do |user| %>
        <%= link_to user_path(user.username) do %>
        <div class="py-2 text-dark"> <strong><span>Email:</span></strong> <%= user.email%> <strong><span>Username:</span></strong> <%= user.username %></div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
