<%= render 'partials/outernav' %>
<nav class="d-flex justify-content-around align-items-center bg-white flex-wrap p-3">
  <div class="text-center sub-heading" >Projects </div>
  <button type="button" class="btn mybtn-success" id="open-modal-project-create" data-toggle="modal" data-target="#exampleModalCenter">
    <i class="fa-solid fa-plus"></i> Create Project
  </button>
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Add a New Project</h5>
          <button class="modal-close-btn" id="modal-close-btn">
            <i class="fa fa-sharp fa-light fa-circle-xmark fa-xl close-icon"
              data-dismiss="modal" aria-label="Close"></i>
          </button>
        </div>
        <div class="modal-body">
          <%= render 'form', project: @project %>
        </div>
      </div>
    </div>
  </div>
</nav>
<%= render 'partials/flash' %>
<%= link_to 'Go Back', :back, class: 'btn mybtn-success m-3' %>
<div class="container">
  <h3 class="text-center">All Projects</h3>
  <div class="row mb-3" id="projects-display">
    <% if @projects.length > 0 %>
      <% @projects.ordered_by_id_desc.each do |project| %>
        <div class="col-lg-4 col-md-6">
          <div class="card my-3">
            <div class="card-header text-dark d-flex justify-content-end">
              <a href="/projects/<%= project.id %>/adduser" class="text-dark" title="Add User to Project"><i class="fa fa-solid fa-user-plus mx-2 mt-1"></i></a>
              <a href="/projects/<%= project.id %>" target="_blank" class="text-dark" title="Open Project">
                <i class="fa fa-solid fa-up-right-from-square mx-2"></i>
              </a>
            </div>
            <a href="/projects/<%= project.id %>" target="_blank" class="pointer">
              <div class="card-body">
                <h5 class="card-title text-dark"><%= project.name %></h5>
                <div class="d-flex justify-content-end">
                  <div class="icon-container">
                    <%= User.find(project.user_id).username[0].upcase %>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="text-center text-muted my-5" id="noproject"> No projects found click on "+ Create Project" to create a new project.</p>
    <% end %>
  </div>
</div>
