<%= javascript_include_tag 'packs/detail_form' %>
<%= javascript_include_tag 'packs/detail' %>
<div class="d-flex justify-content-between align-items-center flex-wrap p-1 py-2 text-white px-lg-2" style="background-color: #256188">
  <a href="/" style="text-decoration:none; color: white">
    <div class="text-center" style="font-weight:bold; font-size: 20px"><i class="fa fa-duotone fa-gear mx-2"></i><%= @project.name %></div>
  </a>
  <%= render "partials/topnav", project: @project %>
</div>
<div class="row" id="body-row" style="background-color: #212123;">
  <%= render "partials/sidenav", project: @project, flag: true  %>
  <div class="col">
    <div class="d-flex flex-column flex-xl-row w-100 h-100">
      <%= render partial: "partials/backlog" %>
      <%= render partial: "partials/icebox"%>
      <%= render partial: "partials/currentIteration" %>
    </div>
  </div>
</div>
