<div class="m-3 pt-4">
  <div class="field form-group col-md-6 text-dark">
    <label for="detail_title">Title</label>
    <input type="text" name="detail[title]" id="detail_title<%= submit_id %>" class="form-control" />
  </div>
  <div class="field form-group col-md-6 text-dark">
    <label for="detail_description">Description</label>
    <textarea name="detail[description]" id="detail_description<%= submit_id %>" class="form-control"></textarea>
  </div>
  <div class="field form-group col-m-6 text-dark">
    <label for="detail_flagType">Flag Type</label>
    <select name="detail[flagType]" id="detail_flagType<%= submit_id %>" class="form-control">
      <option value="backFlag">Backlog</option>
      <option value="icebox">Icebox</option>
      <option value="currentIteration">Current Iteration</option>
    </select>
  </div>
  <div class="field form-group col-m-6 text-dark">
    <label for="detail_file">File</label>
    <input type="file" name="detail[file][]" id="detail_file<%= submit_id %>" class="form-control" multiple />
  </div>
  <input type="hidden" name="detail[project_id]" id="detail_project_id<%= submit_id %>" value="<%= params[:id] %>" />
  <div class="actions py-3">
    <button name="commit" value="Create Detail" id="<%= submit_id %>" class="btn btn-primary">Submit</button>
  </div>
</div>
<script>
  document.getElementById('<%= submit_id %>').addEventListener('click', function(event) {
   event.preventDefault();

   var title = document.getElementById('detail_title<%= submit_id %>').value;
   var description = document.getElementById('detail_description<%= submit_id %>').value;
   var flagType = document.getElementById('detail_flagType<%= submit_id %>').value;
   var fileInput = document.getElementById('detail_file<%= submit_id %>');
   var project_id = document.getElementById('detail_project_id<%= submit_id %>').value;


   var formData = new FormData();
   formData.append('detail[title]', title);
   formData.append('detail[description]', description);
   formData.append('detail[flagType]', flagType);
   formData.append('detail[project_id]', project_id);

   for (var i = 0; i < fileInput.files.length; i++) {
     formData.append('detail[file][]', fileInput.files[i]);
   }

   console.log(formData);

   $.ajax({
     url: `/projects/<%= params[:id] %>/details/`,
     method: 'POST',
     accept: 'application/json',
     data: formData,
     processData: false,
     contentType: false,
     beforeSend: function(xhr) {
       xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
     },
     success: function(response) {
        console.log("success");
        // clear input fields
        document.getElementById('detail_title<%= submit_id %>').value = '';
        document.getElementById('detail_description<%= submit_id %>').value = '';
        document.getElementById('detail_flagType<%= submit_id %>').value = 'backFlag';
        document.getElementById('detail_file<%= submit_id %>').value = '';

       // closing the modal
        var collapseElement = document.getElementById("collapseOne<%= submit_id %>");
        collapseElement.classList.remove("show");

        // now add the new detail to the DOM

        let uuid = response.uuid;
        let id = response.id;
        let status = response.status;
        // get files from formData
        let files = formData.getAll('detail[file][]');
        var container = document.getElementById('<%= submit_id %>-details-list');
        var newDetail = document.createElement('div');
        newDetail.innerHTML = `
        <div type="button" class="mt-2" data-toggle="collapse" data-target="#collapseExample${id}" aria-expanded="false" aria-controls="collapseExample${id}">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">${title}</h4>
              <p class="card-text">${description}</p>
            </div>
          </div>
        </div>
        <div class="collapse mb-3" id="collapseExample${id}">
          <div class="card card-body">
            <div class="text-dark text-uppercase fw-bold mb-1" style="font-size: 12px;">
              Title : ${title}</div>
            <div class="text-dark text-uppercase fw-bold mb-1" style="font-size: 12px;">
              Description : ${description}</div>
            <div class="text-dark text-uppercase fw-bold mb-1" style="font-size: 12px;">
              Status : ${status}</div>
            <div class="text-dark text-uppercase fw-bold mb-1" style="font-size: 12px;">
              Feature Id : ${uuid}
            </div>
            <div class="d-flex flex-column flex-wrap">
                <div class="text-dark text-uppercase fw-bold mb-1" style="font-size: 12px;">
                  Files :
                </div>
                <div class="d-flex flex-wrap flex-column">
                  ${files.map(file => `<div class="text-dark text-uppercase mx-3 fw-bold mb-1" style="font-size: 12px;">
                  ${file.type.includes('image') ? `<img src="${URL.createObjectURL(file)}" width=100 height=100 alt="${file.name}" />` : ''}
                  ${file.type.includes('application/pdf') ? `<a href="${URL.createObjectURL(file)}" target="_blank">View PDF</a>` : ''}
                  ${file.type.includes('application/vnd.ms-excel') || file.type.includes('application/vnd.openxmlformats-officedocument.spreadsheetml.sheet') || file.type.includes('text/plain') || file.type.includes('text/markdown') ? `<a href="${URL.createObjectURL(file)}" download="${file.name}">Download</a>` : ''}
                  ${file.type.includes('application/zip') || file.type.includes('application/x-rar-compressed') ? `<a href="${URL.createObjectURL(file)}" download="${file.name}">Download</a>` : ''}
                  </div>`).join('')}
              </div>
            </div>
        <div id="chat-container${id}">
          <div id="chat-box"></div>
        </div>
        <form id="chat-form-${id}" data-backlog-id="${id}" method="POST" action="/chats" data-remote="true">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <div>
            <label for="chat_message_${id}">Message</label>
            <textarea name="chat[message]" id="chat_message_${id}"></textarea>
          </div>
          <div>
            <label for="chat_sender_${id}">Sender ID</label>
            <input type="text" name="chat[sender_id]" id="chat_sender_${id}">
          </div>
          <input type="hidden" name="chat[detail_id]" value="${id}" id="chat_details_${id}">
          <div>
            <input type="submit" value="Send Message" id="chat_submit_${id}">
          </div>
        </form>
        </div>
      </div>`;

      container.appendChild(newDetail);

     },
     error: function(xhr, status, error) {
        console.log(error);
        // Handle the error as needed
     }
   });
  });
</script>
