<%= javascript_include_tag 'packs/detail_form' %>
<%= javascript_include_tag 'packs/detail' %>
<%= render "partials/topnav", project: @project, flag: false %>
<div class="row" id="body-row" style="background-color: #212123;">
  <%= render "partials/sidenav", project: @project, flag: false %>
  <div class="col">
    <% unless @details.nil? %>
      <% if params[:search_items].present? && @details.empty? %>
        <h2 class="text-center text-white py-5">Couldn't Find Any Matching Feature</h2>
      <% elsif @details.present? %>
        <div class="mx-2 w-50" id="search">
          <div class="card h-full" style="background-color: #f1f2f4;">
            <div  class="card-header d-flex flex-row justify-content-between align-items-center">
              <h2>Search Results</h2>
            </div>
            <div class="card-body" id="<%= @search_items %>-details-list">
              <p> Stories you are currently working on and stories you're prioratized to work on next.</p>
              <div id="collapseOne<%= @search_items %>" class="accordion-collapse collapse bg-light" aria-labelledby="headingOne<%= @search_items %>"
     data-bs-parent="#accordionExample">
                <%= render "details/form", submit_id: @search_items, type: "backFlag" %>
              </div>
              <% @details.each do |backlog_item| %>
                <div  type="button" class="mt-2" data-toggle="collapse" data-target="#collapseExample<%= backlog_item.id %>" aria-expanded="false" aria-controls="collapseExample<%= backlog_item.id %>">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title"><%= backlog_item.title %></h4>
                      <p class="card-text"><%= backlog_item.description %></p>
                    </div>
                  </div>
                </div>
                <div class="collapse mb-3" id="collapseExample<%= backlog_item.id %>">
                  <%= render "partials/detail", item: backlog_item %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
